{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Event Participants</h1>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tr:hover {
    background-color: #ddd;
  }
  h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
  }
  .button-container {
    text-align: right;
    margin-bottom: 10px;
  }
  .button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  .button:hover {
    background-color: #45a049;
  }
  .close-button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
  }
  .close-button:hover {
    background-color: #e53935;
  }
</style>

<form method="POST" action="{% url 'update_attendance' event_id %}">
  {% csrf_token %}
  <table>
    <tr>
      <th>Participant</th>
      <th>Event</th>
      <th>Registration Date</th>
      <th>Attended</th>
    </tr>
    {% for participant in participants %}
    <tr>
      <td>{{ participant.user }}</td>
      <td>{{ participant.event }}</td>
      <td>{{ participant.registration_date }}</td>
      <td>
        <input type="checkbox" name="attended_{{ participant.id }}" {% if participant.attended %}checked{% endif %}>
      </td>
    </tr>
    {% endfor %}
  </table>
  <div class="button-container">
    <button type="submit" class="button">Update Attendance</button>
  </div>
</form>

<form method="POST" action="{% url 'close_event' event_id %}">
  {% csrf_token %}
  <div class="button-container">
    <button type="submit" onclick="confirmCloseEvent()" class="close-button">Close Event</button>
  </div>
</form>

<script>
  function confirmCloseEvent() {
      if (confirm("Are you sure you want to close this event?")) {
          document.getElementById("closeEventForm").submit();
      }
  }
</script>

{% endblock %}