{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link
        rel="preload"
        as="style"
        href="{% static 'css/style.css' %}"
        onload="this.rel = 'stylesheet'"
    />
</head>
<br>
<h1><title>Join Event: {{ event.event_name }}</title></h1>
<body>
    <h1>Join Event: {{ event.event_name }}</h1>
    <p>Location: {{ event.event_location }}</p>
    <p>Organized by: {{ event.organisation }}</p>
    <p>Type: {{ event.get_event_type_display }}</p>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Join!</button>
    </form>
</body>
{% endblock %}