{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Rewards</h1>
<p>My Points: {{ profile.points }}</p>
<br>
<p>Below are some rewards sponsored by our sustainable partners.</p>
<br>

<style>
    .messages {
        list-style-type: none;
        padding: 0;
    }
    .messages li {
        padding: 10px;
        margin-bottom: 10px;
    }
    .messages .success {
        background-color: #dff0d8;
        color: #3c763d;
    }
    .messages .error {
        background-color: #f2dede;
        color: #a94442;
    }
</style>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<style>
.rewards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* space between items */
}

.reward-item {
    flex: 0 0 calc(22% - 20px); /* Four items per row */
    box-sizing: border-box;
    border: 1px solid #ccc; /* Border around each item */
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.reward-item img {
    display: block;
    margin: 0 auto 10px auto;
}

.reward-item h2 {
    font-size: 1.3em;
    margin: 10px 0;
}

.reward-item p {
    margin: 5px 0;
}

.reward-item form {
    margin-top: 10px;
}

.reward-item button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.reward-item button:hover {
    background-color: #45a049;
}

.reward-item .description {
    height: 60px; /* Fixed height for description */
    overflow: hidden; /* Hide overflow text */
    margin: 5px 0;
    font-size: 0.75em;
}
</style>

<div class="rewards-list">
    {% for reward in rewards %}
    <div class="reward-item">
        <img src="{{ reward.image.url }}" alt="{{ reward.name }}" style="width:100px;height:100px;">
        <h2>{{ reward.name }}</h2>
        <p class="description">{{ reward.description }}</p>
        <p>Cost: {{ reward.points_cost }} points</p>
        {% if profile.points >= reward.points_cost %}
        <form action="{% url 'claim_reward' reward.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Claim</button>
        </form>
        <br>
        {% endif %}
    </div>
    {% endfor %}
    <br>
</div>

{% endblock %}